# Question 1
Consider the following Python module:
a=0
def b():
    global a
a = c(a)
def c(a):
    return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [28]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
print(a)

6

### Code Explanation
Line 1: Variable "a" is initialised with value 0.
Line 2: Function b() is defined
Line 3: declares variable "a" as global variable (i.e) a refers to the same variable declared outside function.
Line 4: Inside function b(), function c() is invoked by passing the global variable a.
Line 5: Function c() is defined which accepts one parameter "a"
Line 6: The c() function returns the value of a plus 2.

### Execution Explanation
1. b(): When b() is called for the first time, it invokes c(a) with the initial value of a, which is 0.
   The c() function returns 0 + 2, which is 2.
   This value is then assigned to the global variable a.
2. b(): The second call to b() again invokes c(a), but this time a has the value of 2 (from the previous call).
   Thus, c() returns 2 + 2, which is 4.
   This value is assigned to the global variable a.
3. b(): Similarly, the third call to b() invokes c(a) with the current value of a, which is 4.
   The c() function returns 4 + 2, which is 6.
   This value is assigned to the global variable a again.
4. a: Finally, when a is evaluated, it contains the value 6, which is displayed as the result.

# Question 2
since there is no file midterm.py
Let's use the filename Filelength.txt instead of midterm.py in the examples.

In [49]:
def fileLength(file_name):
    try:
        with open(file_name, 'r') as file:
            content = file.read()
            file_length = len(content)
        return file_length
    except FileNotFoundError:
        return f"File {file_name} not found."

# Example usage
print(fileLength("/content/Filelength.txt"))  # Adjust the path as needed for your environment
fileLength("idterm.py")  # Should print "File idterm.py not found."

123

'File idterm.py not found.'

# Question 3
fileLength
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now w a.
b. c.
Kangaroo as a subclass of Marsupial that inherits all the
Marsupial
extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
overloads the __str__ operator so it behaves as shown below.
rite a class named
attributes of
and also:
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0, 0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x={ 𝑥/2 𝑖𝑓𝑥𝑖𝑠𝑒𝑣𝑒𝑛 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5 16 8 4 2 1

In [52]:
def collatz(number):
    while number != 1:
        print(number)
        if number % 2 == 0:
            number = number // 2
        else:
            number = 3 * number + 1
    print(number)

collatz(1)
print("---------")
collatz(10)

1
---------
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [53]:
def binary(num):
    if num == 0:
        print(0, end='')
    elif num == 1:
        print(1, end='')
    else:
        binary(num // 2)
        print(num % 2, end='')

binary(0)
print('\n')
binary(1)
print('\n')
binary(3)
print('\n')
binary(9)

0

1

11

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [6]:
from html.parser import HTMLParser
import re

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.headings = []
        self.exclude_title = False

    def handle_starttag(self, tag, attrs):
        if tag.lower().startswith('h'):
            match = re.match(r'h(\d+)', tag, re.IGNORECASE)
            if match:
                self.indentation = int(match.group(1)) - 1
        elif tag.lower() == 'title':
            self.exclude_title = True

    def handle_endtag(self, tag):
        if tag.lower() == 'title':
            self.exclude_title = False

    def handle_data(self, data):
        if self.indentation >= 0 and not self.exclude_title:
            heading = ' ' * self.indentation + data.strip()
            if heading:
                self.headings.append(heading)

    def print_headings(self):
        for i, heading in enumerate(self.headings):
            print(heading, end='')
            if i != len(self.headings) - 1:
                print()

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
 Principles

# Question 7
Implement recursive function
that takes as input: a URL (as a string) and
non-negative integers
. Your function should visit every web
page reachable from the starting URL web page in
depth
clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
webdir() depth and indent
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [54]:
from urllib import request
from urllib.parse import urlparse, urljoin
from html.parser import HTMLParser

class WebDirHTMLParser(HTMLParser):
    def __init__(self, base_url, depth, indent):
        super().__init__()
        self.base_url = base_url
        self.depth = depth
        self.indent = indent
        self.current_depth = 0
        self.visited_urls = set()

    def handle_starttag(self, tag, attrs):
        if self.current_depth <= self.depth and tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    url = urljoin(self.base_url, attr[1])
                    if url not in self.visited_urls:
                        self.visited_urls.add(url)
                        print(' ' * self.indent * self.current_depth + url)
                        if self.current_depth < self.depth:
                            self.current_depth += 1
                            self.parse_url(url)

    def parse_url(self, url):
        try:
            response = request.urlopen(url)
            html_content = response.read().decode('utf-8')
            parser = WebDirHTMLParser(url, self.depth, self.indent)
            parser.feed(html_content)
        except:
            pass

def webdir(url, depth, indent):
    parsed_url = urlparse(url)
    base_url = parsed_url.scheme + '://' + parsed_url.netloc
    print(url)
    parser = WebDirHTMLParser(base_url, depth, indent)
    parser.parse_url(url)

# Test the webdir function
webdir('https://www.gmail.com', 1, 0)

https://www.gmail.com
https://www.gmail.com/signin/usernamerecovery?continue=https://mail.google.com/mail/u/0/&dsh=S-637438433:1720132726353170&emr=1&flowEntry=ServiceLogin&flowName=WebLiteSignIn&followup=https://mail.google.com/mail/u/0/&ifkv=AS5LTAT1uZUFsrDA0I8wYqiamSTQHFKRpPE_6RL4-H75fj9BImEAtyYQBPRk0WupdakkogRP_d6CxA&osid=1&service=mail
https://support.google.com/accounts?p=signin_privatebrowsing&hl=en-US
https://www.gmail.com/lifecycle/flows/signup?continue=https://mail.google.com/mail/u/0/&dsh=S-637438433:1720132726353170&emr=1&flowEntry=SignUp&flowName=GlifWebSignIn&followup=https://mail.google.com/mail/u/0/&ifkv=AS5LTAT1uZUFsrDA0I8wYqiamSTQHFKRpPE_6RL4-H75fj9BImEAtyYQBPRk0WupdakkogRP_d6CxA&osid=1&service=mail
https://support.google.com/accounts?hl=en-US&p=account_iph
https://accounts.google.com/TOS?loc=NL&hl=en-US&privacy=true
https://accounts.google.com/TOS?loc=NL&hl=en-US

In [55]:
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

**a) All the temperature data**

In [11]:
import sqlite3

# Connect to the SQLite database (create a new database if it doesn't exist)
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()
# Check if the table exists
cursor.execute(f"SELECT name FROM sqlite_master WHERE type='table' AND name='weather'")
result = cursor.fetchone()
if result:
    # Table exists, so delete it
    cursor.execute(f"DROP TABLE weather")
# Create the table
cursor.execute('''CREATE TABLE weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')

# Insert the data into the table
data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes and close the connection
conn.commit()

cursor.execute("SELECT Temperature FROM weather")
temperature_data = cursor.fetchall()
print("All temperature data:")
for row in temperature_data:
    print(row[0])

All temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

**b) All the cities, but without repetition**

In [12]:
cursor.execute("SELECT DISTINCT City FROM weather")
cities = cursor.fetchall()
print("All cities:")
for row in cities:
    print(row[0])

All cities:
Mumbai
London
Cairo

**c) All the records for India**

In [13]:
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = cursor.fetchall()
print("Records for India:")
for row in india_records:
    print(row)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

**d) All the Fall records**

In [14]:
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("Fall records:")
for row in fall_records:
    print(row)

Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

**e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.**

In [15]:
cursor.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400")
rainfall_data = cursor.fetchall()
print("City, Country, and Season with average rainfall between 200 and 400 millimeters:")
for row in rainfall_data:
    print(row)

City, Country, and Season with average rainfall between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

**f
) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order**

In [16]:
cursor.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
fall_temperature_data = cursor.fetchall()
print("City and Country with average Fall temperature above 20 degrees (in increasing temperature order):")
for row in fall_temperature_data:
    print(row)

City and Country with average Fall temperature above 20 degrees (in increasing temperature order):
('Cairo', 'Egypt')
('Mumbai', 'India')

**g) The total annual rainfall for Cairo**

In [17]:
cursor.execute("SELECT SUM(Rainfall) FROM weather WHERE City = 'Cairo'")
cairo_total_rainfall = cursor.fetchone()[0]
print("Total annual rainfall for Cairo:", cairo_total_rainfall)

Total annual rainfall for Cairo: 27.6

**h) The total rainfall for each season**

In [18]:
cursor.execute("SELECT Season, SUM(Rainfall) FROM weather GROUP BY Season")
seasonal_rainfall_data = cursor.fetchall()
print("Total rainfall for each season:")
for row in seasonal_rainfall_data:
    print(row)

Total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c)[3, 5, 5, 3, 5, 4, 3, 4, 3](the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
BDAT 1004

a)

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [word.upper() for word in words]
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [word.lower() for word in words]
print(a)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [len(word) for word in words]
print(a)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d)

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [[word.upper(), word.lower(), len(word)] for word in words]
print(a)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e)

In [23]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
a = [word for word in words if len(word) >= 4]
print(a)

['quick', 'brown', 'jumps', 'over', 'lazy']